
$background-color: #fef6e4;
$headline-color: #001858;
$paragraph-color: #172c66;
$button-color: #f582ae;
$button-text-color: #001858;


body {
  background-color: $background-color !important; 
  color: $paragraph-color;
  font-family: Arial, sans-serif;
}


.bg-light {
  background-color: $background-color !important;
}

h1, h2, h3 {
  color: $headline-color;
}


p {
  color: $paragraph-color;
}

.btn-primary {
  background-color: $button-color !important;
  border-color: $button-color !important;
  color: $button-text-color !important;

  &:hover {
    background-color: darken($button-color, 10%) !important;
    border-color: darken($button-color, 10%) !important;
  }
}

.card, .container {
  background-color: lighten($button-color, 40%);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
